.banner {
  background-image: url('../assets/cover.jfif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}
.banner > h1 {
  margin: 5vmax;
  font: 600 2.5vmax 'Roboto';
}
.banner > p {
  font: 300 1.4vmax 'Lucida Sans';
}
.banner > a {
  text-decoration: none;
}
.banner > a > .button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  width: 9vmax;
  font: 500 1vmax 'Roboto';
}
.banner > a > .button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
.banner::after {
  content: '';
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0%;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  max-width: 100%;
}
.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}
